<h1>Dados da pizza</h1>

<div class="panel panel-default">
  <div class="panel-body">

    <p>
      <strong>Nome:</strong>
      <%= @pizza.name %>
    </p>

    <p>
      <strong>Preço (R$):</strong>
      <%= @pizza.price %>
    </p>

  </div>

  <div class="panel-footer">
    <%= render partial: 'shared/crud_buttons',
      :locals => {:edit_path => edit_pizza_path, :destroy_path => pizza_path} %>
  </div>

</div>
