
<p>
  <strong>Nome:</strong>
  <%= @pizza.name %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @pizza.phone %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @pizza.address %>
</p>


<%= link_to 'Voltar', pizzas_path %>
