
<p>
  <strong>Nome:</strong>
  <%= @client.name %>
</p>
 
<p>
  <strong>Telefone:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @client.address %>
</p>

 
<%= link_to 'Voltar', clients_path %>